<%= turbo_frame_tag "admin_dashboard__family-new" do %>
  <div>
    <%= link_to "New Family",  new_admin_dashboard_family_path, disable_with: "Loading...", class: "new-family-button btn btn-primary pull-right  " %>
  </div>
<% end %>
